* {
  padding: 0px;
  margin: 0px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  box-sizing: border-box;
}
.rigth-side-container::-webkit-scrollbar,
.left-side-container::-webkit-scrollbar {
  width: 7px;
}
.rigth-side-container::-webkit-scrollbar-track,
.left-side-container::-webkit-scrollbar-track {
  background: transparent;
}
.rigth-side-container::-webkit-scrollbar-thumb,
.left-side-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.rigth-side-container:hover::-webkit-scrollbar-thumb,
.left-side-container:hover::-webkit-scrollbar-thumb {
  background: rgba(151, 150, 150, 0.7);
}
.rigth-side-container::-webkit-scrollbar-thumb:hover,
.left-side-container::-webkit-scrollbar-thumb:hover {
  background: rgba(102, 102, 102, 0.7);
  cursor: pointer;
}

:root {
  --bg-theme: #eee;
  --primary-color: #252525;
  --second-color: #d8d6d6;
}
body.dark-them {
  --bg-theme: #252525;
  --primary-color: #eee;
  --second-color: #333333;
}

body,
.dropdown-menu,
.navbar {
  background-color: var(--bg-theme);
}
.nav-link,
p,
.dropdown-item,
.site-theme,
.primary-color {
  color: var(--primary-color);
}
.second-color {
  background-color: var(--second-color);
}
.navbar-toggler {
  background-color: #eee;
}

.navbar {
  z-index: 999;
}
.navbar .nav-item .nav-link {
  font-weight: 500;
  &:hover {
    color: dodgerblue;
  }
  &.active {
    color: dodgerblue;
  }
}
.navbar-toggler:focus {
  box-shadow: 0px 0px 5px rgb(98, 97, 97);
}
.dropdown-menu .active {
  background-color: dodgerblue;
}
.site-theme {
  cursor: pointer;
}
.divider {
  margin-top: 62px;
}

.user-data {
  .user-img{
    width: 40px;
    height: 40px;
  }
}

aside {
  width: 350px;
  @media (max-width: 1100px) {
    &.left-side {
      display: none;
    }
  }
  @media (max-width: 900px) {
    &.rigth-side {
      display: none;
    }
  }
}
.rigth-side-container,
.left-side-container {
  width: 350px;
  height: calc(100vh - 62px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-theme);
  z-index: 99;
  &.left-side-container {
    left: 0px;
    .shortcuts img {
      width: 40px;
      height: 40px;
    }
  }
  &.rigth-side-container {
    right: 0px;
  }

  @media (max-width: 1100px) {
    &.left-side-container {
      display: none;
    }
  }
  @media (max-width: 900px) {
    &.rigth-side-container {
      display: none;
    }
  }
}

article {
  flex: 1;
  background-color: var(--bg-theme);
  .my-story,
  .friend-story {
    width: 180px;
    height: 290px;
    cursor: pointer;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
  }
  .my-story {
    img {
      height: 240px;
    }
    .add-story {
      width: 40px;
      height: 40px;
      border: 5px solid var(--second-color);
    }
  }
  .friend-story {
    .friend-img {
      top: 10px;
      left: 10px;
      width: 45px;
      height: 45px;
      img {
        width: 100%;
      }
    }
    .friend-name {
      background-color: rgba(81, 80, 80, 0.3);
      box-shadow: 0px -3px 5px rgba(81, 80, 80, 0.3);
    }
  }

  .navigation {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--second-color);
    &:hover {
      background-color: #b2b1b1;
    }
    &::before,
    &::after {
      font-size: 20px;
      color: var(--primary-color);
    }
  }
  .new-post {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .input-post {
      border-bottom: 1px solid #7f7f7f;
      img {
        width: 40px;
        height: 40px;
      }
      input {
        cursor: pointer;
        outline: none;
        padding: 12px 15px;
      }
    }
    .type-of-post span {
      cursor: pointer;
    }
  }
}
.dark-them .new-post input {
  background-color: #464748;
  color: black;
  &::placeholder {
    color: #a8a7a7;
  }
}

.dark-them .navigation:hover {
  background-color: #252525;
}

.icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #d4d3d3;
  }
}
.dark-them .icon:hover {
  background-color: #414141;
}
.friends-container,
.user-info {
  img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
.other-options {
  border-bottom: 1px solid #969595;
  img {
    width: 35px;
    height: 35px;
    margin-left: -3px;
  }
  .arrow-icon {
    width: 40px;
    height: 40px;
    background-color: #c1bfbf;
    padding-top: 2px;
  }
  .more-options {
    &.hiden {
      display: none;
    }
  }
}
.dark-them .other-options {
  border-bottom: 1px solid #696969;
  .arrow-icon {
    background-color: #414141;
  }
}
.friend:hover,
.option:hover,
.user-info:hover {
  background-color: #c8c7c7;
  cursor: pointer;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.dark-them {
  .friend:hover,
  .option:hover,
  .user-info:hover {
    background-color: #303030;
    cursor: pointer;
  }
}

.create-new-post {
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 99999;
  background-color: #c1bfbf;
  cursor: pointer;
  &:hover {
    background-color: #a8a7a7;
  }
}
.dark-them .create-new-post {
  background-color: #414141;
  &:hover {
    background-color: #353535;
  }
}

.all-posts .post,.specific-Post .post{
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  cursor: pointer;
  .user-img {
    width: 40px;
    height: 40px;
  }
  .post-body{
    height: 370px;
  }
  .icons{
    width: 48px;
    .icon-1{
      left: 5px;
      z-index: 5;
    }
    .icon-2{
      left: 20px;
      z-index: 3;
    }
    .icon-3{
      left: 35px;
      z-index: 2;
    }
  }
  .post-Interaction{
    border-bottom: 1px solid #7f7f7f;
  }
  .post-footer{
    span{
      cursor: pointer;
    }
    i{
      font-size: 22px;
    }
    .action{
      width: calc(100% / 3);
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      &:hover{
        background-color: #c8c7c7;
      }
    }
    
  }
}
.dark-them .all-posts .post .post-footer .action:hover,.dark-them .specific-Post .post .post-footer .action:hover{
background-color: #464646;
}